<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.web.mapper.HomeMapper">

	<select id="getMenuList" resultType="java.util.HashMap" >
	/* com.myproject.web.mapper.HomeMapper.getMenuList*/
	  SELECT
	  	MENU_NO,
	  	MENU_NM,
	  	MENU_LEVEL,
	  	AUTH_LEVEL,
	  	REG_DATE,
	  	REG_USER,
	  	UPDATE_DATE,
	  	UPDATE_USER,
	  	ADDRESS
	  FROM
	  	PAGE_MENU
	</select>

</mapper>